
.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #001f3f, #0074d9);
  font-family: "Halau", sans-serif;
  padding: 0;
}
  
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
  
  .logo {
    height: 40px;
  }
  
  .header-actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-icon {
    width: 32px;
    height: 32px;
    filter: invert(1); /* White icons */
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .nav-icon:hover {
    transform: scale(1.1);
  }

  .buy-dvil-button {
    background: #00d9ff;
    color: #ffffff;
    border: 2px solid #000000; /* Borde negro añadido */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px; /* Letras más legibles */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Animación más rápida */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado uniforme */
  }
  
  .buy-dvil-button:hover {
    background-color: #0074d9;
    transform: scale(1.05);
  }
  
  .nav-icon {
    width: 2em; /* Escalará con el tamaño del texto */
  height: 2em;
    filter: invert(1); /* White icons */
    transition: transform 0.3s ease;
  }
  .nav-icon:hover {
    transform: scale(1.1);
  }

  
  .editor-content {
    display: flex;
    flex: 1;
    height: calc(100% - 60px);
    margin-top: 60px;
  }
  
.sidebar {
  width: 15%;
  background-color: #e3e7e9; /* Unified with header for harmony */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
}
.sidebar h2 {
  font-family: 'Halau', sans-serif;
  color: #5FC5E9;
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.sidebar .sticker-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.sidebar button,
.editor-button {
  width: 180px; /* Tamaño unificado */
  background-color: #5FC5E9;
  color: #ffffff;
  border: 2px solid #000000; /* Borde negro consistente */
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease; /* Animación más rápida */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado uniforme */
}

.editor-button:hover,
.sidebar button:hover {
  background-color: #57b5c2;
  transform: scale(1.05);
}

  .sidebar.left {
    border-right: 3px solid #5FC5E9; /* Glacial border */
  }
  
  .sidebar.right {
    border-left: 3px solid #5FC5E9;
  }
    
  .sidebar-title {
    font-size: 3rem;
    font-weight: bold;
    color: #d1e8ff;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #1e3b56;
    background-color: #214961; /* Slightly darker shade */
    border-radius: 4px;
  }
  
  .sticker-list {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #cadfe6;
    border: 2px solid #4384c0;
    border-radius: 5px;
  }
  button, .sticker-list img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .sticker-list li {
    width: 60px;
    height: 60px;
  }
  .sidebar .sticker-list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
  }
  
  .sticker-list img:hover {
    transform: scale(1.1);
    border-color: #69c7ff;
  }
  .sticker-list img:active {
    cursor: grabbing;
  }

  .upload-new-image {
    background-color: #69c7ff;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .upload-new-image:hover {
    background-color: #51b6e8;
    transform: scale(1.05);
  }
  
  .uploaded-image {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #6fc5ff;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .error-message {
    font-size: 18px;
    color: #ff4a4a;
    font-weight: bold;
  }
  .sticker {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 1px dashed transparent;
    border-radius: 4px;
  }
  .sticker.selected {
    border-color: #69c7ff; /* Highlight selected stickers */
  }
  .download-button,
  .reset-button,
  .delete-button {
    width: 180px;
    background-color: #5FC5E9;
    font-size: 16px;
    margin: 5px 0; /* Espaciado entre botones */
  }
  .download-button:hover,
  .reset-button:hover,
  .delete-button:hover {
    background-color: #225b80;
    transform: scale(1.05);
  }
  .base-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50;
    left: 50;
    pointer-events: none; /* Esto hace que no sea manipulable */
    object-fit: cover;
  }
  .sticker {
    position: absolute;
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
    cursor: pointer;
  }
  
  .sticker img {
    width: 100%;
    height: 100%;
  }
  
  .sticker.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #f00;
  }
  
  .sticker-preview {
    width: 60px;
    height: 60px;
    cursor: grab;
    transition: transform 0.2s ease;
  }
  
  .sticker-preview:active {
    transform: scale(1.1);
    cursor: grabbing;
  }
  
/* Canvas en Desktop */
.editor-container:not(.editor-mobile) .canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: auto;
  animation: fadeIn 1s ease-in-out;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .editor-button {
    display: block;
    width: 200px;
    background-color: #5FC5E9;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
    /* Sombreado del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* X, Y, blur, color */
  }
  
  .editor-button:hover {
    background-color: #57b5c2;
    transform: scale(1.05);
  }
  
  .editor-button:focus {
    outline: 2px solid #ffcc00; /* Mejora de accesibilidad */
  }
  .editor-button input[type="file"] {
    display: none; /* Ocultar input */
  }
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Reducir espacio entre botones */
  }
.color-picker {
  margin-top: 15px;
  background-color: #ffffff;
  border: 2px solid #69c7ff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto; /* Ajuste automático al contenido */
}

.color-picker label {
  font-family: 'Halau', sans-serif;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
  text-align: center;
}

.color-picker input[type='color'] {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.color-picker input[type='color']::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.color-picker input[type='color']:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.noise-button {
  width: 180px;
  font-size: 16px;
  background-color: #5FC5E9;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.noise-button:hover {
  background-color: #57aee1;
}

#noise-range {
  margin-top: 10px;
  width: 160px; /* Ajustar tamaño para mejor alineación */
}
.noise-button.active {
  background-color: #69c7ff;
  color: #fff;
  border: 2px solid #57aee1;
}
