/* Estilo actualizado para el constructor de memes con colores gélidos y fuente Halau */
.meme-builder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(135deg, #001f3f, #0074d9); /* Fondo gélido */
  margin: 0;
  font-family: "Halau", sans-serif; /* Fuente personalizada */
}

.header-meme {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.header-actions-meme {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.buy-dvil-button-meme {
  background: #00d9ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-dvil-button-meme:hover {
  background-color: #0074d9;
  transform: scale(1.05);
}

.upload-area {
  cursor: pointer;
  border: 4px dashed #00d9ff; /* Borde más prominente */
  padding: 300px; /* Área clickable más grande */
  border-radius: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-area:hover {
  background-color: rgba(0, 217, 255, 0.1); /* Fondo suave al pasar el ratón */
  transform: scale(1.05); /* Efecto de zoom */
}

.title-meme {
  font-size: 64px;
  color: #00d9ff;
  font-weight: bold;
  margin: 0;
  text-shadow:
    0 0 3px #00d9ff,
    0 0 5px #66ffff;
}

.subtitle {
  font-size: 20px;
  color: #66ffff;
  margin: 10px 0 0 0;
}