/* Mobile Styles */
.buy-section-mobile {
    background: linear-gradient(180deg, #1a1a2e, #0d0d0d);
    color: #d4f1f9;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "YourFontName", sans-serif;
    position: relative;
    overflow: hidden;
  }
  
  .buy-shape-top-mobile {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, #0d0d0d, rgba(26, 26, 46, 0));
    z-index: 1;
  }
  
  .buy-section-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  /* Texto */
  .buy-text-mobile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buy-title-mobile {
    font-size: 2rem;
    font-weight: bold;
    color: #00c6ff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .buy-description-mobile {
    font-size: 1rem;
    color: #e0f7fa;
  }
  
  /* Widget */
  .widget-container-mobile {
    width: 100%;
    max-width: 90%;
    position: relative;
  }
  
  .jupiter-terminal-mobile {
    width: 100%;
    height: 300px;
    border: 3px solid #00c6ff;
    border-radius: 10px;
    background-color: #121212;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    padding: 10px;
    z-index: 2;
  }
  
  .character-image-mobile {
    position: absolute;
    top: -142px;
    right: 200px;
    width: 150px;
    z-index: 3;
    pointer-events: none;
  }
  